<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="com.pedrosampaio.cenouraapp">
	<name>Só de Cenoura</name> <!-- Nome do App -->
	<description>
		Menu do Restaurante só de cenoura  <!-- Descrição do app -->
	</description>
	<author href="http://pedrosampaio.com"
		email="qualquer@pedrosampaio.com">
		Pedro Sampaio
	</author>
	<icon  src="imagens/icon.png"/> <!-- imagem do icone -->
		<gap:splash src="imagens/splash.png"/> <!-- splash screen, é a primeira tela -->
		<!-- <preference name="orientation" value="portrait"/> --> <!-- modo retrato -->
		<preference name="fullscreen" value="true"/> <!-- Modo FullScreen -->
		<gap:platform name="android"/>  <!-- build apenas no android -->
</widget>
